* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  padding:0;
  font-family: "Roboto";
  color: #404040;
  background-color: rgb(243, 243, 225);
}

body, html{
  height:100%;
}

main {
   min-height:100%;
   position:relative;
   /* padding-bottom:300px;   */
}

/* header, main, footer {
  display: block
} */

h2 {
  text-align: center;
  padding: 4% 2% 2% 2%;
}

h3 {
  text-align: center;
  padding: 2% 2% 3% 2%;
}

h4 {
  padding: 4% 2% 3% 2%;
}

p {
  padding: 1% 2% 1% 2%
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  padding: 3%;
  text-align: center;
  background: linear-gradient(rgb(247, 236, 175), rgb(53, 52, 52));
  border-radius: 5%;
  border: thick solid #404040;
}